body{
  min-height: 100vh;
  font-family: monospace;
  background-image: 
  linear-gradient(to bottom right,  #efd7f4, #c5c7f1);
  margin: 0;
  ;  
}

.container{
    background-image: #E9E0F7;
    width: 1000px;
    max-width: 100%;
    margin: 50px auto 0;
    border-radius: 10px;
    

}
.filter{
  padding: 20px;
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
}